body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

header {
    width: 100%;
    text-align: center;
    margin: 40px auto;     
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}

.tabuleiro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px auto;
}

.carta { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 34px 34px 34px;
}

.traseira-carta {
    width: 100px;
    height: 100px;
}

.frente-carta {
    width: 100px;
    height: 100px;
}

.escondido {
    display: none;
}

.p {
    display: none;
}

@media (max-width: 600px) {
	h1{
    font-size: 36px;
    line-height: 42px;
    }
}